/bin
/build
/.gradle
/.classpath
/.project
/.settings
/node_modules
/tmp

/dist
/tmp
/out-tsc
/bazel-out

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

.DS_Store
Thumbs.db


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.metadata/
